***Bismillah***

In [ ]:
# #Q4. You are given a list that contains some duplicate items. Remove the duplicates by converting the
# list to a set.
# shopping_list = [&quot;apple&quot;, &quot;banana&quot;, &quot;apple&quot;, &quot;orange&quot;, &quot;banana&quot;, &quot;grape&quot;]

In [2]:
shopping_list = ["apple", "banana", "apple", "orange", "banana", "grape"]
shopping_list

['apple', 'banana', 'apple', 'orange', 'banana', 'grape']

In [3]:
a = set(shopping_list)

In [4]:
a

{'apple', 'banana', 'grape', 'orange'}

In [ ]:
# Q1 Q1. my_tuple = ( (1, 2, 3), [4, 5, 6], (&#39;apple&#39;, &#39;banana&#39;, &#39;cherry&#39;), [7, 8, 9] )
# • Print all elements from my_tuple on a new line (using for loop)
# • Create a new tuple by concatenating the first and last elements of my_tuple

my_tuple = ((1, 2, 3), [4, 5, 6], ('apple', 'banana', 'cherry'), [7, 8, 9])

In [11]:
my_tuple = ((1, 2, 3), [4, 5, 6], ('apple', 'banana', 'cherry'), [7, 8, 9])

In [12]:
my_tuple

((1, 2, 3), [4, 5, 6], ('apple', 'banana', 'cherry'), [7, 8, 9])

In [15]:
for element in my_tuple:
    print(element)

(1, 2, 3)
[4, 5, 6]
('apple', 'banana', 'cherry')
[7, 8, 9]

In [21]:
tuple_idrees = my_tuple[0] + my_tuple[2] # it is not allowing me to concatentae the list

In [18]:
my_tuple

((1, 2, 3), [4, 5, 6], ('apple', 'banana', 'cherry'), [7, 8, 9])

In [22]:
tuple_idreess

(1, 2, 3, 'apple', 'banana', 'cherry')

In [ ]:
# Q6. Write a Python program that calculates the sum of all even numbers between 1 and 50
# (inclusive) using a for loop.
# Hint
# 1. Initialize a variable to hold the sum (e.g., sum_of_evens).
# 2. Use a for loop to iterate through all numbers from 1 to 50.
# 3. Inside the loop, check if the number is even.
# 4. If the number is even, add it to sum_of_evens.
# 5. After the loop finishes, print the total sum of all even numbers between 1 and 50.

In [33]:


    
for l in range(0,51,2):
    print(l)

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50

In [35]:
# Q2. inventory = { &quot;The Great Gatsby&quot;: {&quot;price&quot;: 10.99, &quot;quantity&quot;: 5}, &quot;Rich dad poor dad&quot;: {&quot;price&quot;:
# 8.99, &quot;quantity&quot;: 8}, &quot;Harry Potter&quot;: {&quot;price&quot;: 12.50, &quot;quantity&quot;: 2}, }
# • Add a new book in inventory using method and get all book titles using method
# • Remove a book if it&#39;s out of stock

inventory = {
    "The Great Gatsby": {"price": 10.99, "quantity": 5},
    "Rich dad poor dad": {"price": 8.99, "quantity": 8},
    "Harry Potter": {"price": 12.50, "quantity": 2},
}

In [36]:
inventory

{'The Great Gatsby': {'price': 10.99, 'quantity': 5},
 'Rich dad poor dad': {'price': 8.99, 'quantity': 8},
 'Harry Potter': {'price': 12.5, 'quantity': 2}}

In [37]:
for value in inventory:
    print(value)

The Great Gatsby
Rich dad poor dad
Harry Potter

In [42]:
inventory.pop("Harry Potter") # remove

{'price': 12.5, 'quantity': 2}

In [43]:
inventory

{'The Great Gatsby': {'price': 10.99, 'quantity': 5},
 'Rich dad poor dad': {'price': 8.99, 'quantity': 8}}

In [47]:
new_book = 'jhon'
details_book = {"price": 12.50, "quantity": 90}

In [48]:
inventory[new_book] = details_book

In [49]:
inventory

{'The Great Gatsby': {'price': 10.99, 'quantity': 5},
 'Rich dad poor dad': {'price': 8.99, 'quantity': 8},
 'jhon': {'price': 12.5, 'quantity': 90}}

In [5]:
#Q9 # Problem Statement: Write a Python program that takes an integer input from the user and
# counts down from that number to 0. The program should display the current number at each step
# until it reaches 0, at which point it should print a message indicating the countdown is finished

k = int(input("please enter the number"))
for a in range(k, -1,-1):
 print(a)

please enter the number 3

3
2
1
0

In [20]:
#Q7
number = int(input("Please enter a number between 1 and 10: "))


if 1 <= number <= 10:
   
    for i in range(1, 11):
        product = number * i
        print(f"{number} x {i} = {product}")

Please enter a number between 1 and 10:  7

7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70

In [24]:
# #Q8
# Q8. Power of a Number
# Write a Python program that takes a number and prints the powers of the number (starting from 1
# to 10) using a while loop. For example, if the user inputs 3, the output should be:
# 3^1 = 3
# 3^2 = 9
# 3^3 = 27
# ... up to 3^10.
ok = int(input("Please enter a number between 1 and 10: "))


if 1 <= ok <= 10:
   
    for k in range(1, 11):
        produc = number^2
       
        print(f"{ok} x {k} = {produc}")

Please enter a number between 1 and 10:  8

8 x 1 = 5
8 x 2 = 5
8 x 3 = 5
8 x 4 = 5
8 x 5 = 5
8 x 6 = 5
8 x 7 = 5
8 x 8 = 5
8 x 9 = 5
8 x 10 = 5

In [25]:
#10

n = int(input("Enter the number of rows for the triangle: "))

for i in range(1, n + 1):
    print("* " * i)

Enter the number of rows for the triangle:  8

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * * * *

In [2]:
#Q4

products = {
    101: {"name": "Laptop", "category": "Electronics", "price": 1200, "stock": 50},
    102: {"name": "Shirt", "category": "Apparel", "price": 25, "stock": 200},
    103: {"name": "Coffee Maker", "category": "Home Appliances", "price": 80, "stock": 30}
}

products[102]["stock"] += 50

products[104] = {
    "name": "Smartphone",
    "category": "Electronics",
    "price": 700,
    "stock": 100
}


print(products)

{101: {'name': 'Laptop', 'category': 'Electronics', 'price': 1200, 'stock': 50}, 102: {'name': 'Shirt', 'category': 'Apparel', 'price': 25, 'stock': 250}, 103: {'name': 'Coffee Maker', 'category': 'Home Appliances', 'price': 80, 'stock': 30}, 104: {'name': 'Smartphone', 'category': 'Electronics', 'price': 700, 'stock': 100}}